Table
    { 
        border:2px solid black}
        


        th{
            border:2px solid black;
        }
        td{
            border:1px solid black;

        }
        .th{
background-color: yellow;
color: red;

        }
        /* .td1{
            background-color: rgb(95, 95, 95);
            color: rgb(0, 140, 255);
        }
        .td2{
            background-color: rgb(95, 95, 95);
            color: rgb(0, 140, 255);
        }
        .td3{
            background-color: rgb(95, 95, 95);
            color: rgb(0, 140, 255);
        } */
        .td{
            background-color: rgb(116, 114, 114);
            color: rgb(0, 15, 150);
        }